
/****************************/
/* LOCAL CSS                */
/****************************/

/* Put your custom CSS and CSS overrides in this file and  */
/* rename it local.css.  By restricting your CSS changes   */
/* to local.css, your changes will not be overwritten when */
/* upgrading to a new version of this theme.  You can also */
/* use a local-rtl.css file for the equivalent in RTL.     */

/* Steps to activate local.css:                       */
/* 1. Add your custom CSS to this file                */
/* 2. Rename this file to local.css                   */
/* 3. Clear cached data at admin/settings/performance */

img, 
img.scale-with-grid { 

	max-width: 100%; 
	height: auto; }

.header-site-info {
  display: block;

}

.header-top {
padding-top: 1%;}


#block-search-form {
	float: right;
	text-align: right;


}

  #block-block-1 {
  	clear: both;
	float: left;
	width: 33%;
	margin-right: .5%;
	margin-top: -4%;

}

#block-block-2 {
	clear: both;
	float: right;
	margin-top: -.75%;
	margin-bottom: 2%;
	font-size: 85%;
	text-width: 100px;
	
}




	


/* TYPOGRAPHY */

/* HTML Elements
-------------------------------------------------------------- */
h1 {
  font-size: 180%;
}

h2 {
  font-size: 142.85%;
}

h3 {
  font-size: 114.28%;
}

h4 {
  font-size: 100%;
}

h5 {
  font-size: 90%;
}

h6 {
  font-size: 80%;
}

#footer {
  font-size: 95%;
}
.page-node-4 h1.title {
	text-transform: uppercase;
	font-size: 225%;
	margin-top: -2%;
	text-decoration: none;
	color: black;
}


h1.title {
	text-transform: uppercase;
	font-size: 400%;
	margin-top: -2%;
	text-decoration: none;
	color: black;
}

h2.block-title {
	display: none;
}


h2 a,
h2 a:hover,
h2 a:focus,
h2 a:active,
h2 a:link,
h2
{
	text-transform: uppercase;
	font-size: 2.1em;
	text-decoration: none;
	color: black;
}