
/****************************/
/* LOCAL CSS                */
/****************************/

/* Put your custom CSS and CSS overrides in this file and  */
/* rename it local.css.  By restricting your CSS changes   */
/* to local.css, your changes will not be overwritten when */
/* upgrading to a new version of this theme.  You can also */
/* use a local-rtl.css file for the equivalent in RTL.     */

/* Steps to activate local.css:                       */
/* 1. Add your custom CSS to this file                */
/* 2. Rename this file to local.css                   */
/* 3. Clear cached data at admin/settings/performance */

img, 
img.scale-with-grid { 

	max-width: 100%; 
	height: auto; }

.header-site-info {
  display: block;

}

.l-region--header {
	background: none;
}

/*.l-region--navigation {
	display: none;
}*/

.header-top {
padding-top: 1%;}


#block-search-form {
	float: right;
	text-align: right;

}

  #block-block-1 {
  	margin-top: 8%;
  	margin-right: 1%;
	float: left;
	width: 33%;


}


	


/* TYPOGRAPHY */

/* HTML Elements
-------------------------------------------------------------- */
h1 {
  font-size: 180%;
}

h2 {
  font-size: 142.85%;
}

h3 {
  font-size: 114.28%;
}

h4 {
  font-size: 100%;
}

h5 {
  font-size: 90%;
}

h6 {
  font-size: 80%;
}

#footer {
  font-size: 95%;
}

h1 {
	text-transform: uppercase;
	font-size: 4.3em;
	text-decoration: none;
	color: black;
}
.page-node-5 h1,
.page-node-4 h1,
.page-node-2 h1 {
	font-size: 3.3em;
	text-align: right;
}

/*h2.block-title {
	display: none;
}*/


h2 a,
h2 a:hover,
h2 a:focus,
h2 a:active,
h2 a:link,
h2
{
	text-transform: uppercase;
	font-size: 3.1em;
	text-decoration: none;
	color: black;
}

.breadcrumb {
	display: none;
}